body {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.315), rgba(0, 0, 0, 0.383)), 
        url('https://img.freepik.com/premium-photo/array-top-view-fast-food-burgers-creating-visual-feast-gastronomic-adventure_910684-3406.jpg?w=1060');
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    margin: 0;
    background-size: cover; /* تغطية المساحة بالكامل */
    background-position: center; /* تمركز الصورة */

}

.login-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(231, 232, 230, 0.9); /* Increased shadow for more depth */
    width: 35%;
    height: 45%;
}


h1 {
    text-align: center;
    color: #f8f6f6;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #f7f6f6;
}

input {
    width: 92%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-left: 4%;
    width: 92%;
    padding: 10px;
    background-color: orangered;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 3%;
    font-size: larger;
}

button:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
    color: orangered;
}

a {
    color: #f3f5f7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9); /* تغيير الخلفية إلى لون أبيض شفاف */
    color: #333; /* لون نص أغمق لتحسين القراءة */
    border: 1px solid #e0a800; /* تغيير لون الحدود */
    padding: 20px;
    border-radius: 8px; /* زيادة انحناء الزوايا */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* إضافة ظل لجعلها بارزة */
    z-index: 1000;
    transition: transform 0.3s ease; /* إضافة تأثير عند ظهور التنبيه */
}

.custom-alert.show {
    transform: translate(-50%, -50%) scale(1.05); /* تأثير عند ظهور التنبيه */
}

.custom-alert button {
    background-color: #e0a800; /* لون زر أكثر إشراقًا */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* إضافة تأثير لتغيير لون الزر */
}

.custom-alert button:hover {
    background-color: #d39e00; /* تغيير لون الزر عند التمرير فوقه */
}
